footer.mdl-mini-footer
  .mdl-mini-footer__left-section
    .mdl-logo Program Name
    ul.mdl-mini-footer__link-list
      li
        a(href='#') Help
      li
        a(href='#') Privacy Policy
      li
        | &copy;&nbsp;
        a(href='#') Author 2021
