doctype html
html
  head
    block head
      block title
        title Program Name
      block meta
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/material.min.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include header

      main.mdl-layout__content
        block content

        include footer

    include links